<!DOCTYPE html>
<html th:fragment="page_header(title)"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>[[${titlePage}]] - Cafe Haland</title>

<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container-fuild">
		<header>
			<form name="logoutForm" th:hidden="true" method="post"
				th:action="@{/logout}">
				<input type="submit" value="Logout" />
			</form>
			<nav
				class="navbar navbar-expand-lg navbar-dark custom-bg-color-header">
				<a class="navbar-brand" th:href="@{/}"> <img
					style="width: 70px;" alt="logo" th:src="@{/images/logo.png}">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li sec:authorize="hasAuthority('Admin')" class="nav-item"><a
							class="nav-link" href="/staffs">Staffs</a></li>

						<li sec:authorize="hasAnyAuthority('Admin', 'Editor')"
							class="nav-item"><a class="nav-link" href="/products">Products</a></li>

						<li
							sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Inventory')"
							class="nav-item"><a class="nav-link" href="/ingredients">Ingredients</a></li>

						<li
							sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Inventory')"
							class="nav-item"><a class="nav-link" href="/suppliers">Suppliers</a></li>

						<li sec:authorize="hasAnyAuthority('Admin', 'Inventory')"
							class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" role="button"
							data-toggle="dropdown" aria-expanded="false">Warehouse</a>
							<div class="dropdown-menu">
								<a sec:authorize="hasAnyAuthority('Admin', 'Inventory')"
									class="dropdown-item" href="/receipts">Receipt</a> <a
									sec:authorize="hasAnyAuthority('Admin', 'Inventory')"
									class="dropdown-item" href="/goodreceiveds">Good Received</a>
							</div></li>
					</ul>

					<ul class="navbar-nav">
						<li sec:authorize="hasAnyAuthority('Saleperson')" class="nav-item"><a
							class="nav-link" href="/orders">Order&nbsp;<i
								class="fa-solid fa-store"></i></a></li>
						<li sec:authorize="hasAnyAuthority('Bartender')" class="nav-item"><a
							class="nav-link" href="/bartendings">Bartending&nbsp;<i
								class="fa-solid fa-utensils"></i></a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"><i class="fa-solid fa-user"></i>&nbsp;<span
								sec:authentication="principal.fullname"></span></a>
							<div style="left: -20px;" class="dropdown-menu"
								aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#"><i
									class="fa-solid fa-pen-to-square"></i>&nbsp;Edit Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="javascript: logoutForm.submit();"><i
									class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;Logout</a>
							</div></li>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<div class="bread-crumb">
			<div class="container">
				<div style="text-decoration: none;">
					<p>Cafe Haland Control Panel &nbsp;&nbsp;/</p>
					<p style="color: #b5313a;">&nbsp;&nbsp;[[${titlePage}]]</p>
				</div>
			</div>
		</div>


		<div>
			<form th:action="@{/receipts/save}" id="form-adduse=" method="post"
				class="container rounded p-3" style="max-width: 700px;" th:object="${receipt}">
				<input type="hidden" th:field="*{id}">
				<div class="form-group row">
					<label for="text" class="col-sm-3 col-form-label">Choose
						Supplier</label>
					<div class="col-sm-9">
						<select class="form-control" id="supplier" th:field="*{supplier}">
							<option value="0">Choose Supplier</option>
							<th:block th:each="sup : ${listSuppliers}">
								<option th:value="${sup.id}">[[${sup.name}]]</option>
							</th:block>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="text" class="col-sm-3 col-form-label">Email
						Supplier</label>
					<div class="col-sm-9">
						<input th:if="*{id==null}" readonly="readonly" type="text" id="emailSupplier"
							class="form-control">
						<input th:unless="*{id==null}" readonly="readonly" type="text" id="emailSupplier"
							th:value="*{supplier.email}" class="form-control">
					</div>
				</div>

				<div class="form-group row">
					<label for="text" class="col-sm-3 col-form-label">Phone
						Supplier</label>
					<div class="col-sm-9">
						<input th:if="*{id==null}" readonly="readonly" type="text" id="phoneSupplier"
							class="form-control">
						<input th:unless="*{id==null}" readonly="readonly" type="text" id="phoneSupplier" 
							th:value="*{supplier.phone}" class="form-control">
					</div>
				</div>

				<div class="form-group row">
					<label for="text" class="col-sm-3 col-form-label">Ingredients</label>
					<div class="col-sm-9">
						<select  th:if="*{id != null}" multiple class="form-control" id="igredients" name="igredients"
							th:field="*{receiptDetails.ingredient}">
							<th:block th:each="ele:*{supplier.ingredients}">
								<option th:value=${ele.id}>[[${ele.name}]]</option>
							</th:block>
						</select>
						<select  th:unless="*{id != null}" multiple class="form-control" id="igredients" name="igredients">
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="name" class="col-sm-3 col-form-label">Chose
						ingredients:</label>
					<div class="col-sm-9">
						<div id="chosenIngredients"></div>
					</div>
				</div>

				<div class="form-group row">
					<label for="name" class="col-sm-3 col-form-label">Quantity:</label>
					<div class="col-sm-9">
						<div style="padding: 0;" class="container-fluid">
							<div class="row">
								<div class="col 3">
									<div class="row" id="quantity">
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="text-center">
					<input type="submit" class="btn btn-primary m-3" value="Save">
					<input type="button" class="btn btn-secondary" value="Cancels"
						id="buttonCancel">
				</div>
			</form>
		</div>

		<footer class="text-center m-1">
			<p>Cafe Haland Control Panel - Copyright &copy; TDM</p>
		</footer>
	</div>

	<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTitle"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p id="contentModelWarning"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		moduleUrl = '[[@{/receipts}]]';
		
		ingredientBySupplier = [];
		
		$(document).ready(function() {
			
			$('#supplier').change(function(){
				supplier = $(this)
				supplierId = supplier.val();
				if (supplierId != 0){
					url = "/suppliers/"+supplierId+"/list_ingredient";
					$.ajax({
				        type: "GET",
				        contentType: "application/json",
				        url: url,
				        cache: false,
				        timeout: 600000,
				        success: function (data) {
							$('#emailSupplier').val(data.email);
							$('#phoneSupplier').val(data.phone);
							
							data.ingredients.forEach(ele => {
								ingredientBySupplier.push(ele);
							});
							html =  data.ingredients.reduce(
								(accumulator, ele) => accumulator + `
									<option value=${ele.id}>${ele.name}</option>`, ''		
							);
							
							$('#igredients').html(html)
				        },
				        error: function (e) {

				        }
				    });
				} else {
					$('#igredients').empty();
					$('#quantity').empty();
					$('#emailSupplier').val('');
					$('#phoneSupplier').val('');
				}
			});
			divChosenIngredients = $("#chosenIngredients");
			dropdownIngredients = $("#igredients");
			
			//Chua cac nguyen luyeu da chon
			selectedIngredient = [];
			
			dropdownIngredients.change(function() {
				divChosenIngredients.empty();
				showChoseCategories();
			});
			showChoseCategories();
		})
		
		function showChoseCategories() {
			dropdownIngredients.children("option:selected").each(function() {
				selectedCategories = $(this);
				catId = selectedCategories.val();
				catName = selectedCategories.text();
				
				alert(catName)
				
				divChosenIngredients.append(`<span class="mr-1 badge badge-secondary">${catName}<span>`)
				
				//Kiem tra xem nguyen luyen da co trong do chua
				idxInIngredient = selectedIngredient.findIndex(ele => ele === ('ingredient'+catId));
				
				if (idxInIngredient == -1){
					selectedIngredient.push('ingredient'+catId);
					//Lấy thông tin của nguyen luyen
					idx = ingredientBySupplier.findIndex(ele => ele.id == catId);
									
					html = `<div id="ingredient${catId}" class="col-12 mb-1" style="align-items: center;">
								<div class="row">
									<label class="col-sm-3 col-form-label">${ingredientBySupplier[idx].name}</label><input
										name="quantities" class="col-sm-3 form-control" type="text">
									<label class="col-sm-2 col-form-label">(${ingredientBySupplier[idx].unit})</label>
									
									<input name="prices" class="col-sm-3 form-control" type="text" 
										placeholder="price">
								</div>
							</div>`;
					$('#quantity').append(html);	
				}
			});
		}

		function showModalDialog(title, message) {
			$("#contentModelWarning").text(message);
			$("#modalTitle").text(title);
			$("#modalDialog").modal();
		}
	</script>
	<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
</body>
</html>