<!DOCTYPE html>
<html th:fragment="page_header(title)"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Home - Cafe Haland</title>

<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<!DOCTYPE html>
<html th:fragment="page_header(title)"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Home - Cafe Haland</title>

<link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div>
    <div class="container text-center" id="form-login">
      <h2><i class="fa-regular fa-user"></i></h2>
      <h4>Highlands Coffee - Login</h4>
      <p th:if="${param.error}" style="color: #b22830;">Account does not exist</p>
      <form th:action="@{/login}" method="post">
        <div>
          <input class="form-control my-2" type="text" name="email" placeholder="Email">
        </div>

        <div>
          <input class="form-control my-2" type="password" name="password" placeholder="Password">
        </div>

        <div class="form-group form-check text-left">
          <input type="checkbox" name="remember-me" class="form-check-input" id="remenber">
          <label class="form-check-label" for="remenber">Remmenber</label>
        </div>

        <button class="btn" type="submit" name="login">Login</button>
      </form>
    </div>
  </div>
</body>
</html>
</body>
</html>